/* Class Utilities */
.primary{
    font-size: 1.3rem;
}
.secondary{
    font-size: 1.2rem;
}

/* Home Section */
#menu ul .primary{
    font-size: 1rem;
}
#logo{
    width: 80px;
    transition: all 1s ease;
}
#logo:hover{
    transition: all 1s ease;
    width: 100px;
}

/* Projects Section */
#projects .box{
   width: 300px;
   margin: 15px 5px;
}
.carousel,
.carousel-item img{
    width: 300px;
    height: auto;
  }
.carousel a{
    width: 30px;
  }
.carousel-control-prev {
    background-color: black;
    margin-left: -30px;
    
}
.carousel-control-next {
    background-color: black;
    margin-right: -30px;
}

/* Tools & Technologies */
#tools img{
    width: 95px;
    height: 95px;
    margin: 10px;
    transition: all 1s;
}
#tools img:hover{
    width: 100px;
    height: 100px;
    transition: all 1s;
}

/* Resume Section */
#about>div{
    width: 320px;
}

/* Footer Section */
footer{
    height: 40vh;
}
footer .secondary{
    font-size: 0.8rem;
}
#social svg{
    width: 30px;
}
footer #social a{
    margin: 0 5px;
}



