/* Class Utilities */
*{
    --primary-font: 1.8rem;
    --secondary-font: 0.8rem;
}

/* Home Section */
#intro #intro-img{
    width: 250px;
}

/* Projects Section */
.row{
    flex-direction: column;
}
.container_foto {
    max-width: 400px;
}
.container_foto h2{
    font-size: 16px;
}
.container_foto h4{
    font-size: 13px;
}
.ver_mas{
    height: 32px;
}
.ver_mas a{
    font-size: 15px;
}

.container_foto:hover article {
    transform: translate(2px, -25px);
    -webkit-transform: translate(2px, -25px);
    -moz-transform: translate(2px, -25px);
    -o-transform: translate(2px, -25px);
    -ms-transform: translate(2px, -25px);
}


/* Tools & Technologies */
#tools img{
    width: 75px;
    height: 75px;
    margin: 10px;
}
#tools img:hover{
    width: 80px;
    height: 80px;
}

/* About Section */

#about #content {
    align-items: center;
}
#skills, #education{
    flex-direction: column;
}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Blog Section */
#output{
    flex-direction: column;
}
#output .article{
    width: 310px;
}

/* Footer Section */
footer{
    height: 50vh;
}
footer .secondary{
    font-size: 0.8rem;
}
#social svg{
    width: 30px;
}
