@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,600&display=swap');
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,body{
    overflow-x: hidden !important;
}

/* Class & Element Utilities */
.primary{
    font-family: 'Alegreya', serif;
    color: rgb(27, 33, 66);
    font-size: 1.5rem;
    margin: 10px;
}
.secondary{
    font-family: 'Vollkorn', serif;
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
}

/* Home Page */
canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Menu */
.sticky {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 50;
    width: 100%;
}
#menu{
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
#menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
#menu li{
    list-style: none;
    padding: 10px 0;
    z-index: 1;
}
#menu a{
    text-decoration: none;
    border-radius: 8px;
    color: white;
    margin: 0px;
}
#menu a:hover{
    color: rgb(32, 25, 240);
}

/* Home Page > Intro */
#home #intro{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
    position: relative;
}
#home::after {
    content: "";
    background: url('/img/back.jpg') no-repeat center/cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;   
  }
#intro p{
    text-align: left;
    padding: 0;
}
.typed-cursor{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(32, 25, 240);
}
#name{
    font-size: 4.5rem;
    display: flex;
}
#msg{
    position: relative;
    z-index: 1;
}
#logo{
    width: 200px;
    height: auto;
    margin: 0 30px;
    border-radius: 50%;
}
@media screen and (max-width: 1050px){
    #home #intro{
        padding: 0 10px;
    }
    #name{
        font-size: 2.5rem;
    }
}
#hi{
    position: absolute;
    top: -80px;
    right: -80px;
    transform: rotateZ(-5deg);
    opacity: 0;
}

/* Scrolling List */
.content_container{
    font-weight: bold;
    overflow: hidden;
    height: 2.5rem;
    display: flex;
    align-items: baseline;
    text-align: center;
}
.content_container::before{
    content: "[";
    padding-right: 1rem;
}
.content_container::after{
    content: "]";
    padding-left: 1rem;
}
.container_text{
    margin: 0;
}
.container_list{
    list-style: none;
    margin: 0;
    animation-name: change-item;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.container_item{
    margin-left: 1rem;
    line-height: 40px;
    color: rgb(32, 25, 240);
}

@keyframes change-item{
    0%{
        transform: translateZ(0);
    }
    
    12.5%{
        transform: translate3d(0,-40px,0);
    }
 
    25% {
        transform: translate3d(0,-80px,0);
    }
   
    37.5% {
        transform: translate3d(0,-120px,0);
    }
  
    50% {
        transform: translate3d(0,-160px,0);
    }
    
    62.5%{
        transform: translate3d(0,-120px,0);
    }
 
    75% {
        transform: translate3d(0,-80px,0);
    }
  
    87.5% {
        transform: translate3d(0,-40px,0);
    }
   
    100% {
        transform: translate3d(0, 0, 0);
    }
   
}

/* Work Section */
#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 60px 0;
}

#work h1{
    color: white;
}

.container_foto {
    background-color: rgb(14, 24, 85);
    padding: 0;
    overflow: hidden;
    max-width: 480px;
    margin: 8px;
}

.container_foto article {
    padding: 10%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.container_foto h2 {
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    border-bottom: #fff solid 1px;
}

.container_foto h4 {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
}

.container_foto img {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.ver_mas {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
    -o-transform: translate(0px, 70px);
    -ms-transform: translate(0px, 70px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ver_mas a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
}


/*hovers*/

.container_foto:hover {
    cursor: pointer;
    box-shadow: 
    -3px -3px 3px 0 rgb(255, 255, 255),
     3px 3px 3px 0 rgb(255, 255, 255);
}

.container_foto:hover img {
    opacity: 0.1;
    transform: scale(1.5);
}

.container_foto:hover article {
    opacity: 1;
    transform: translate(2px, -40px);
    -webkit-transform: translate(2px, -40px);
    -moz-transform: translate(2px, -40px);
    -o-transform: translate(2px, -40px);
    -ms-transform: translate(2px, -40px);
}

.container_foto:hover .ver_mas {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
}


/* Tools & Technologies */
#tools{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#tools img{
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: all 0.5s;
    border-radius: 20px;
    
}
#tools img:hover{
    width: 230px;
    height: 230px;
    transition: all 0.5s;
}

/* About Section */
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 10px 100px;
    background: #E5E5E5;
}
@media screen and (max-width: 850px) {
  #about{
      flex-direction: column;
  }
}
#about .secondary{
    margin: 0;
    padding: 0;
    text-align: left;
}
#about #content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#about a{
    width: 120px;
    font-family: 'Vollkorn', serif;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 50px;
    background: #1d1b1b;
}
#about a:hover{
    text-decoration: underline;
}

/* Footer Section */
footer{
    display: flex;
    flex-direction: column;
    height: 35vh;
    background: black;
    color: white;
}
#details{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer #details a{
    color: white;
}
footer #details a:hover{
    text-decoration: underline;
}
#contact{
    text-align: left;
}
#social{
    display: flex;
    flex-wrap: wrap;
}
#social a{
    margin: 0 8px;
}
svg{
    display: inline;
    vertical-align: bottom;
}
#moveTop{
    color: white;
    width: 170px;
    align-self: flex-end;
}
footer #copyright{
   margin-top: 50px;
}

