@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
html,body{
    overflow-x: hidden !important;
}
/* Variables */
*{
    --primary-color: #0E0A5F;
    --secondary-color: white;
    --tertiary-color: #b5bef3;
    --primary-font: 3rem;
    --secondary-font: 1rem;
    --tertiary-font: 0.5rem;
}

/* Class & Element Utilities */
.primary{
    font-family: 'Alegreya', serif;
    font-size: var(--primary-font);
    color: var(--primary-color);
    margin: 5px;
    padding: 5px;
}
.secondary{
    font-family: 'Libre Baskerville', serif;
    font-size: var(--secondary-font);
    color: var(--secondary-color);
    margin: 5px;
    padding: 5px;
}

/* Loader */

#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#myPortfolio {
    display: none;
  }  

/* Home Page */

#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.navbar{
    background-color: var(--primary-color);
    padding: 5px;
}
.navbar .nav-link{
    margin: 0 20px;
    border-radius: 5px;
    transition: all 0.7s;
}
.navbar .nav-link:hover{
    transition: all 0.7s;
    background-color: #08062b;
}
/* Home Page > Intro */
#home #intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 50px;
}
#home::after {
    content: "";
    background: url('/img/Fade-In-Background.svg') no-repeat center center/cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
}
#intro .name{
    color: var(--secondary-color);
}
#intro svg{
    cursor: pointer;
    margin: 10px;
}
svg #face{
    animation: face 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
  }
  
  @keyframes face{
    0%{
      transform: rotateZ(-5deg);
    }
    100%{
      transform: rotateZ(5deg);
    }
  }

/* Work Section */
#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 65px 0 20px 0;
    background-color: var(--primary-color);
}

#work h1{
    color: var(--tertiary-color);
    border-bottom: 4px solid var(--tertiary-color);
}
 
#work h2, #work h4{
    color: var(--secondary-color);
}
#projects{
    margin: 10px 0;
}
.container_foto {
    background-color: rgb(14, 24, 85);
    padding: 0;
    overflow: hidden;
    max-width: 480px;
    margin: 8px auto;
}

.container_foto article {
    padding: 10%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.container_foto h2 {
    font-weight: 800;
    font-size: 25px;
    border-bottom: #fff solid 1px;
}

.container_foto h4 {
    font-weight: 500;
    font-size: 16px;
}

.container_foto img {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.ver_mas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
    -o-transform: translate(0px, 70px);
    -ms-transform: translate(0px, 70px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ver_mas a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 30px;
    margin: 0;
}


/*Project Hovers*/

.container_foto:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 5px var(--tertiary-color);
}

.container_foto:hover img {
    opacity: 0.1;
    transform: scale(1.5);
}

.container_foto:hover article {
    opacity: 1;
    transform: translate(2px, -40px);
    -webkit-transform: translate(2px, -40px);
    -moz-transform: translate(2px, -40px);
    -o-transform: translate(2px, -40px);
    -ms-transform: translate(2px, -40px);
}

.container_foto:hover .ver_mas {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
}


/* Tools & Technologies */
#tools{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#tools h1{
    border-bottom: 4px solid var(--secondary-color);
}
#tools img{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
    transition: all 0.5s;
}
#tools img:hover{
    width: 120px;
    height: 120px;
    border: 2px dashed;
    transition: all 0.5s;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    padding: 55px 0 20px 0;
}
#about h1{
    color: var(--primary-color);
    margin: 15px 0;
    border-bottom: 4px solid var(--primary-color);
}
#about h4{
    color: var(--primary-color);
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#skills,#education{
    display: flex;
    border: 2px dashed black;
    margin: 15px;
}
.box{
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 8px;
    flex-wrap: wrap;
}
#about h5, #about p{
    text-align: center;
}

#about a{
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    background: #1d1b1b;
}
#about a:hover{
    text-decoration: underline;
}

/* Blog Section */
#blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#output .post {
    margin: 10px;
    text-align: center;
    padding: 15px;
    width: 420px;
    border: 2px dashed black;
    border-radius: 10px;
}
.post h5{
    padding-bottom: 5px;
    border-bottom: 2px solid;
    font-weight: bold;
}
.post p{
    margin: 10px 0 15px 0;
}
#output .post a{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s;
}
#output .post a:hover{
    box-shadow: 0 0 0 2px black;
}

/* Footer Section */
footer{
    display: flex;
    flex-direction: column;
    height: 38vh;
    background: black;
    color: white;
    width: 100%;
}
#details{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer #details a{
    color: white;
}
footer #details a:hover{
    text-decoration: underline;
}
#social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6px;
}
#social a{
    margin: 0 8px;
}
footer svg{
    vertical-align: bottom;
}
footer path:hover{
    fill: #473fd3;
}
#moveTop{
    color: white;
    width: 150px;
    align-self: flex-end;
}
footer #copyright{
    text-align: center;
    margin-top: 50px;
    color: white;
}
